<ion-header>
  <ion-toolbar>
    <ion-title>Person 360</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-icon name="people" size="large"></ion-icon> <font size="5">Persons</font>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let trackNum of trackNums | async">
      <!-- <ion-avatar slot="start" class="round-avatar">
        <ion-label>GS</ion-label>
      </ion-avatar> -->
      <ion-label>
        <h5>{{trackNum.name}}</h5>
        <small>{{trackNum.mobile}}</small>
      </ion-label>
      <ion-icon name="trash" end (click)="removePerson(trackNum.id)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>