<ion-header>
  <ion-toolbar>
    <ion-title>Add Person</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h3><ion-icon name="person-add"></ion-icon> Add Person To Track</h3>
        </div>
        <form novalidate [formGroup]="personAddForm">
          <div padding>
              <ion-item>
                  <ion-label position="floating">Name(*)</ion-label>
                  <ion-input type="text" formControlName="name" class="form-control" required></ion-input>
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                  </div>
                </ion-item>
            <ion-item>
              <ion-label position="floating">Mobile(*)</ion-label>
              <ion-input type="text" formControlName="mobile" class="form-control" required></ion-input>
              <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">Mobile is required</div>
              </div>
            </ion-item>
          </div>
          <div padding text-center>
            <ion-button type="submit" shape="round" expand="full" (click)="onSubmit()">
              Save
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>