<ion-header>
  <ion-toolbar>
    <ion-title>map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p><label>Added people's location will be displaying here</label></p>
  <!-- <p>
    <label><ion-icon name="pin" color="green"></ion-icon> Available</label>
    <label><ion-icon name="pin" color="red"></ion-icon> Unavailable</label>
  </p> -->
  <div id="map_canvas" class="map_canvas"></div>
</ion-content>
