<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Track360</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid *ngIf="notLoggedIn">
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h3>Login</h3>
        </div>
        <form novalidate [formGroup]="loginForm" >
          <div padding>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" formControlName="email" class="form-control" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="Password" formControlName="password" class="form-control" required></ion-input>
            </ion-item>
          </div>
          <div padding text-center>
            <ion-button shape="round" expand="full" (click)="loginSubmit()">
                <!-- <ion-icon name="log-in"></ion-icon>  -->
                Login
            </ion-button>
            <ion-button ion-button color="success" shape="round" expand="full" routerLink="/register">
              Go To Register <ion-icon name="arrow-round-forward"></ion-icon> 
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>