<ion-content no-padding >
  <ion-list>
    <ion-list-header>
      <ion-label>Options</ion-label>
    </ion-list-header>

    <ion-item (click)="goToPersonAddPage()">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Add Person</ion-label>
    </ion-item>

</ion-list>

</ion-content>
