<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Track 360
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon size="large" padding slot="end" name="more" (click)="showPopover($event)"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-tabs color="primary">
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="map">
      <ion-icon name="compass" size="large"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="personList">
      <ion-icon name="people" size="large"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="message">
      <ion-icon name="text" size="large"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>