<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Track360</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h3>Register</h3>
        </div>
        <form novalidate [formGroup]="registerForm">
          <div padding>
            <ion-item>
              <ion-label position="floating">Mobile(*)</ion-label>
              <ion-input type="text" formControlName="mobile" class="form-control" required></ion-input>
              <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">Mobile is required</div>
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Name(*)</ion-label>
              <ion-input type="text" formControlName="name" class="form-control" required></ion-input>
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback has-error">
                <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email(*)</ion-label>
              <ion-input type="text" formControlName="email" class="form-control" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password(*)</ion-label>
              <ion-input type="text" formControlName="password" class="form-control" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirm Password(*)</ion-label>
              <ion-input type="Password" formControlName="confirmPassword" class="form-control" required></ion-input>
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
            </ion-item>
          </div>
          <div padding text-center>
            <ion-button type="submit" shape="round" expand="full" (click)="onSubmit()">
              <!-- <ion-icon name="person-add"></ion-icon>  -->
              Register
            </ion-button>
            <ion-button ion-button color="success" shape="round" expand="full" routerLink="/login">
              Go To Login <ion-icon name="arrow-round-forward"></ion-icon> 
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>